ul.breadcrumb
    li
        a(href='/') Home
        span.divider /
    li.active Forms

.row-fluid
    .span4
        a.btn.btn-primary(href='/forms/create')
            i.icon-white.icon-plus
            &nbsp;New Form

    .span4.offset4.right
        form
            input.input-medium.search-query.input-large(type='text', placeholder="Filter...", ng-model='search.name')

table.table.table-striped
    thead
        tr
            th #
            th Name
            th Date
            th Actions
    tbody
        tr(ng-repeat='form in forms | filter:search | orderBy:name')
            td
                a(href='/forms/{{form._id}}') {{form._id}}
            td {{form.name}}
            td {{form.created_at}}
            td
                a.btn(href='/forms/{{form._id}}') Details
                &nbsp;
                a.btn(href='/forms/{{form._id}}/deploy') Deploy