ul.breadcrumb
    li
        a(href='/') Home
        span.divider /
    li
        a(href='/forms') Forms
        span.divider /
    li.active {{form.name}}

section
    blockquote
        {{form.description}}

.well
    span.pull-right
        a.btn(href='#') Edit
        &nbsp;
        a.btn(href='/forms/{{form._id}}/deploy') Deploy
        &nbsp;
        a.btn.btn-danger(href='#') Delete