ul.breadcrumb
    li
        a(href='/') Home
        span.divider /
    li.active Forms

a.btn.btn-primary(href='/forms/create')
    i.icon-white.icon-plus
    &nbsp;New Form

table.table.table-striped
    thead
        tr
            th #
            th Name
            th Date
            th Actions
    tbody
        tr(ng-repeat='form in forms')
            td
                a(href='/forms/{{form._id}}') {{form._id}}
            td {{form.name}}
            td {{form.created_at}}
            td
                a.btn(href='/forms/{{form._id}}') Edit
                &nbsp;
                a.btn(href='/forms/{{form._id}}') Deploy
                &nbsp;
                a.btn.btn-danger(href='/forms/{{form._id}}') Delete

