ul.breadcrumb
    li
        a(href='/') Home
        span.divider /
    li
        a(href='/instances') Instances
        span.divider /
    li.active {{instance.name}}

section
    blockquote
        {{instance.description}}

.well
    span.pull-right
        a.btn.btn-info(href='#') Edit
        &nbsp;
        a.btn.btn-info(href='/forms/{{instance.form}}') View Form
        &nbsp;
        button.btn.btn-danger(ng-click='deleteInstance()') Delete

section(ng-show="results.length > 0")
    h4 Results
    blockquote(ng-repeat="result in results | orderBy:'-created_at'")
      {{result}}

section(ng-show="results.length == 0")
    h4 No results