ul.breadcrumb
    li
        a(href='/') Home
        span.divider /
    li
        a(href='/instances') Instances
        span.divider /
    li.active {{instance.name}}

section
    blockquote
        {{instance.description}}

.well
    span.pull-right
        a.btn.btn-info(href='#') Edit
        &nbsp;
        a.btn.btn-danger(href='#') Delete