ul.breadcrumb
    li
        a(href='/') Home
        span.divider /
    li.active Results

table.table.table-striped
    thead
        tr
            th #
            th Created On
            th Actions
    tbody
        tr(ng-repeat="result in results | orderBy:'-created_at'")
            td
                a(href='/results/{{result._id}}') {{result._id}}
            td {{result.created_at}}
            td
                a.btn(href='/results/{{result._id}}') Details
                &nbsp;
                a.btn(href='/instances/{{result.instance}}') View Instance

