!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
    include ../includes/head
    body
        .wrapper
            .container
                .main-content
                    .main-head
                        .page_header
                            block main
                    block content
                        include ../partials/modeler

        .pull
        script(data-main='/js/lib/modeler.js', src='/components/form-client-modeler/assets/js/lib/require.js')

